* {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }
body {
  font: 14px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #C0C0C0;
  
  border: 3px outset;
  border-style:outset;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.empty {
    color: darkgray;
    border: 3px outset;
}

.bomb {
    color: pink;
    background-image: url("https://lh4.ggpht.com/d4ThZdKjGANziFu-sr_CElac-kjeZ2LbXeVRkTNk9RJhzb_4qFqGooCprBlalb3yLcgo=w50");
    border: 3px outset;
}

.free {
    color: green;
    border: 1px solid #808080;
}

.exploded {
    color: red;
}

.val-1 {
    color: #0000FF;
}
.val-2 {
    color: #008300;
}
.val-3 {
    color: #FF0000;
}
.val-4 {
    color: #000083;
}
.val-5 {
    color: #980000;
}
.val-6 {
    color: #008482;
}
.val-7 {
    color: #000000;
}
.val-8 {
    color: #808080;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
